.first-section{
  display: flex;

flex-direction: column;
gap: 60px;
}


.blog-heading{

font-family: Poppins;
font-size: 104px;
font-style: normal;
font-weight: 500;
 /* 88px */
letter-spacing: -3.8px;
background: linear-gradient(182deg, #FFF 1.76%, #909090 98.24%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
line-height: 110%;
}

.blog-heading2{

  font-family: Poppins;
  font-size: 104px;
  font-style: normal;
  font-weight: 500;
   /* 88px */
  letter-spacing: -3.8px;
  background: linear-gradient(182deg, #FFF 1.76%, #909090 98.24%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 130px;
  }


  .blog-heading3{

    font-family: Poppins;
    font-size: 104px;
    font-style: normal;
    font-weight: 500;
     /* 88px */
    letter-spacing: -3.8px;
    background: linear-gradient(182deg, #FFF 1.76%, #909090 98.24%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 110%;
    }


    .sub-heading-div{
      width: 100%;
      display: flex;
      justify-content: flex-end;
       
    }


    .sub-heading-div2{
      width: 44%;
      
    }

    .sub-heading{
      color: #909090;
text-align: right;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: flex;
flex-direction: column;
align-items: flex-end;
flex-wrap: wrap;
padding-right: 30px;
    }