.port2{
    
    text-align: center;
    font-family: Poppins;
    font-size: 120px;
    font-style: normal;
    font-weight: 500;
    line-height: 105%; /* 126px */
    letter-spacing: -2.4px;
    text-transform: uppercase;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 8.73%, #FFF 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


.port{
    color: #F0F0F0;
text-align: center;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 32px; /* 133.333% */
}

.btn{
    display: flex;
padding: 10px;
align-items: center;
gap: 10px;
border-radius: 100px;
background: linear-gradient(182deg, #FFF 1.76%, rgba(255, 255, 255, 0.80) 98.24%);
color: var(--Black, #010101);
text-align: center;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.arrow{
    width: 12px;
height: 12px;
flex-shrink: 0;
}


@media screen and (max-width: 640px) {
    .port2{
        font-size: 40px;
    }
    .port{
        font-size: 16px;
    }
    .btn{
        font-size: 10px;
    }
    .arrow{
        width: 8px;
        height: 8px;
    }

    
}

@media screen and (min-width: 641px) and (max-width: 1024px) {
    .port2{
        font-size: 80px;
    }
    .port{
        font-size: 20px;
    }
    .btn{
        font-size: 12px;
    }
    .arrow{
        width: 10px;
        height: 10px;
    }
    
}

@media screen and (min-width: 1025px) {
    .port2{
        font-size: 120px;
    }
    .port{
        font-size: 24px;
    }
    .btn{
        font-size: 14px;
    }
    .arrow{
        width: 12px;
        height: 12px;
    }
    
}

.category-btn {
    position: relative;
    transition: color 0.3s ease;
  }
  
  .category-btn::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background: linear-gradient(90deg, #06b6d4, #3b82f6);
    transition: width 0.3s ease;
  }
  
  .category-btn.active::after,
  .category-btn:hover::after {
    width: 100%;
  }