.hero-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
    
  }
  
  .hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 0.9; /* adjust opacity as needed */
  }
  
  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    mix-blend-mode: overlay; /* or try soft-light, multiply, etc. */
    opacity: 0.5; /* tweak this for more/less image effect */
  }
  
  .hero-content {
    position: relative;
    z-index: 2;
  }
  
  .hero-content h1,
  .hero-content h2 {
    margin: 20px 0;
  }
  
  .contact-btn {
    margin-top: 1rem;
    padding: 14px 12px;
    background: white;
    color: black;
    border: none;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .contact-btn:hover {
    background: #318cd6;
  }
  
  .hero-footer {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    
    z-index: 2;
    font-size: 0.9rem;
    opacity: 0.8;
  }
  