.hero-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  opacity: 0.8;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  mix-blend-mode: multiply;
  opacity: 0.8; 
}

.hero-dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0,0.1);
  z-index: 2;
}

.hero-content {
  position: relative;
  z-index: 4;
  width: 90%;
  max-width: 1200px;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.hero-title,
.hero-subtitle {
  text-align: center;
font-family: Poppins;
font-size: 5rem;
font-style: normal;
font-weight: 500;
line-height: 1.3; /* 126px */
letter-spacing: -2px;
  background: linear-gradient(to bottom, #FFF 1.76%, rgba(255, 255, 255, 0.70) 98.24%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  text-align: center;
  overflow: visible;
}

/* For a more advanced effect with fill transition */
.hero-footer {
  position: absolute;
  bottom: 1.25rem;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 0 2rem;
  margin: auto;
}

.footer-year {
  text-align: left;
  font-size: 1rem;
  width: 342px;
  
}

.footer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-address {
  text-align: right;
  font-size: 1rem;
}

/* Large devices (desktops) */
@media (min-width: 1025px) {
  .hero-title,
  .hero-subtitle {
    font-size: 8rem;
  }
  
  .hero-footer {
    padding: 0 2rem;
  }
}

/* Medium devices (tablets) */
@media (min-width: 641px) and (max-width: 1024px) {
  .hero-title,
  .hero-subtitle {
    font-size: 4.5rem;
  }
  
  .hero-footer {
    padding: 0 1.5rem;
    margin: auto;
    width: 100%;
  }
  
  .footer-year,
  .footer-address {
    font-size: 0.9rem;
  }

  .footer-year {
    text-align: left;
    font-size: 1rem;
    
    
  }
}

/* Small devices (mobile) */
@media (max-width: 640px) {
  .hero-title,
  .hero-subtitle {
    font-size: 2.25rem;
    text-align: center;
    align-self: center;
    margin-left: 1rem;
  }
  
  .hero-content {
    align-items: flex-start;
    
    text-align: right;
    padding: 0;
  }
  
  
  
  .hero-footer {
    flex-direction: column;
    align-items: flex-start;
    bottom: 1rem;
    padding: 0 1rem;
    gap: 1rem;
  }
  
  .footer-icon {
    position: absolute;
    top: -80px ;
    left: 50%;
    transform: translateX(-50%);
    bottom: -1.5rem;
  }
  
  .footer-year {
    font-size: 0.875rem;
  }
  
  .footer-address {
    font-size: 0.875rem;
    text-align: left;
  }
}





